.App {
  font-family: "M Yuen PRC", sans-serif;
  background-color: rgba(50, 213, 150, 0.1);
}

.Header {
  text-align: center;
  padding-top: 1rem;
}

.Logo_text {
  font-size: 3rem;
}

.Searchbar-Container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 3.5rem;
  background-color: #32d596;
  margin-top: 15px;
  text-align: center;
  padding-top: 1.5rem;
  z-index: 9999;
}

.Searchbar {
  border-radius: 50px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  height: 2rem;
  width: 16rem;
  max-width: 50vw;
  min-width: 20vw;
  padding-left: 1rem;
}

.Shopping-Cart {
  position: absolute;
  top: 15px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.Shopping-Cart:hover #cartIcon {
  color: aquamarine;
}

#cartIcon {
  color: white;
  font-size: 2.5rem;
}

.quantities {
  font-family: "M Yuen PRC", sans-serif;
  position: absolute;
  top: 12px;
  left: 26px;
  color: #32d596;
}

.Cart-Dropdown-container {
  position: absolute;
  top: 75px;
  right: 40px;
  width: 300px;
  height: 400px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.Cart-Dropdown {
  width: 300px;
  height: 340px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: scroll;
}

#dropdown-buffer {
  height: 60px;
}

.Cart-header {
  position: relative;
  text-align: left;
  width: 300px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #32d596;
}

.Cart-header-text {
  position: absolute;
  top: 7px;
  left: 15px;
  color: white;
  font-size: 1.5rem;
}

.Cart-header-subtotal {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #228e65;
}

.Cart-clearButton-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 60px;
  background-color: #32d596;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.close_cart-button {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close_cart-icon {
  font-size: 2rem;
  color: #32d596;
}

.close_cart-icon:hover {
  color: aquamarine;
}

.close_cart-icon-white {
  font-size: 2rem;
  color: white;
}

.close_cart-icon-white:hover {
  color: aquamarine;
}

.Cart-clearButton {
  margin-top: 15px;
  height: 30px;
  border: solid 1px white;
  background: none;
  color: white;
  font-family: "M Yuen PRC", sans-serif;
  cursor: pointer;
}

.Cart-clearButton:hover {
  color: aquamarine;
  border: solid 1px aquamarine;
}

.empty_header {
  width: 300px;
  height: 60px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.empty_text-container {
  text-align: center;
  position: absolute;
  top: 160px;
  left: 50px;
  width: 200px;
}

.empty_text {
  color: #32d596;
}

.results {
  display: grid;
  grid-gap: 20px 125px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: calc(100vw / 10);
  margin-right: calc(100vw / 10);
  justify-items: center;
}

.pagination {
  height: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pagination-PageNumber {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 100vw;
  text-align: center;
  color: #228e65;
}

.pagination-Button {
  background: none;
  border: solid 2px #32d596;
  color: #32d596;
  height: 40px;
  width: 80px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
}

.pagination-Button:hover {
  border: solid 2px #228e65;
  color: #228e65;
}

.button-left {
  position: absolute;
  left: 50px;
}

.button-right {
  position: absolute;
  right: 50px;
}

.Footer {
  text-align: center;
  width: 100vw;
  background-color: #32d596;
  padding-top: 80px;
  padding-bottom: 60px;
}

@font-face {
  font-family: "M Yuen PRC";
  src: url("//db.onlinewebfonts.com/t/0866bd379846a9a0e111bbc79ea411d0.eot");
  src: url("//db.onlinewebfonts.com/t/0866bd379846a9a0e111bbc79ea411d0.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0866bd379846a9a0e111bbc79ea411d0.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0866bd379846a9a0e111bbc79ea411d0.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/0866bd379846a9a0e111bbc79ea411d0.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/0866bd379846a9a0e111bbc79ea411d0.svg#M Yuen PRC") format("svg");
}
